<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@

</head>
<body>
    <div style="position:fixed; left:10%">
        <table class="link">
            @*coluna dos titulos*@
            <tr>
                <td style="border:2px solid #ffffff; padding:4px; background-color:#00ffff;  width:200px; height:50px">
                    @Html.ActionLink("Donos", "Index", "Donos")
                </td>

                @* ######################################################################################################################*@
                <td style="border:2px solid #ffffff; padding:4px; background-color:#00ffff;  width:200px; height:50px">
                    @Html.ActionLink("Animais", "Index", "Animais")
                </td>
                @* ######################################################################################################################*@
                <td style="border:2px solid #ffffff; padding:4px; background-color:#00ffff;  width:200px; height:50px">
                    @Html.ActionLink("Consultas", "Index", "Consultas")
                </td>
                @* #######################################################################################################################*@
                <td style="border:2px solid #ffffff; padding:4px; background-color:#00ffff;  width:200px; height:50px">
                   @* <a href="/Veterinarios/Index">Veterinarios</a>*@
                    @Html.ActionLink("Veterinarios", "Index", "Veterinarios")
                </td>

                @* #######################################################################################################################*@
                @*Se esta autenticado, então faça esta*@

            </tr>

        </table>
    </div>

    <br /><br /><br />
    @*<div class="navbar-collapse collapse">
        @Html.Partial("_LoginPartial")
    </div>*@

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
